* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
}

.fondo {
  background: url("./img/fondo\ dia.png");
}

/* Panel de navegación */

.logo {
  display: flex;
  align-items: center;
  width: 3.25em;
  max-width: 100%;
  height: auto;
}

.navbar-nav > .nav-item > a > i {
  color: white;
}

.custom-navbar {
  width: 100%;
  height: 70px;
}

nav {
  background: #008CBA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li a.nav-link {
  color: white;
  font-size: 1em;
  padding: 7px 13px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  border-radius: 1.25em; /* Agregado: bordes redondeados */
}

/* estilo para el boton modo nocturno */

.modoNocturno {
  background-color: transparent;
  border: none;
}

.modoNocturnoIcono {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('./img/luna.png');
  background-size: cover;
  vertical-align: middle; /* Alinea verticalmente el icono */
  margin-right: 10px; /* Agrega un margen derecho para separarlo de los demás elementos */
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  outline: none;
  box-shadow: none;
  color: #fff !important;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%)!important;
}

a:hover {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
}

/* Main y Section */

/* Section 1 */

.miSection1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: -1;
}

.miFoto {
  border-radius: 50%;
  transform: scale(0.6);
  margin-bottom: -5em;
  max-width: 100%;
  height: auto;
}

.titulos {
  margin-bottom: 0.625em;
  font-size: 1.5em;
}

.contenidoInicio {
  text-align: center;
}

.parrafos {
  font-size: 1.2em; 
}


.caja {
  max-width: 30em;
  margin: auto;
  padding: 1.25em;
  background-color: #73c2dc;
  border-radius: 0.625em;
  border: 0.063em solid #fff8f8;
}

.boton-descarga {
  display: inline-block;
  padding: 0.625em 1.25em;
  background-color: #008CBA;
  border: 0.063em solid #000000;
  color: #fff !important;;
  text-decoration: none;
  border-radius: 1.25em;
  font-size: 1em;
  text-align: center;
}

/* section 2 */

.container-cursos{
  min-height: calc(100vh - 100px);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
  z-index: +1 !important;
}

.cursos-cards{
  margin-top: 5em;
  width: 90%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;  
}

/* estilo para cada tarjeta */

.cursos-card{
  background-color: #003366;
  width: 300px !important;
  border-radius: 0.8em;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 3em;
}

/* para que la tarjeta se expanda cuando pulsamos el boton */

.cursos-card.expanded {
  min-height: 550px;
}

/* estilo para centrar la tarjeta cuando pasemos el mouse sobre ella */

.cursos-card:hover{
  transform: scale(1.2);
  transition: all 0.5s;
  z-index: +2 !important;
  box-shadow: 0px 0px 100000px 100000px rgba(0, 0, 0, 0.466);
}

/*estilo para el titulo de cada tarjeta */

.curos-card-tit{
  color: black;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-weight: bold;
  background: linear-gradient(90deg, aqua 0%, rgba(45, 156, 219, 1) 100%);  
}

/* estilo para las imagenes del logo de la tarjeta */

.card-logo{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-logo img{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

/* estilo para la descripcion de la tarjeta*/

.card-descrip{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: 14px;
  align-items: center;
  display: none; /* Ocultar por defecto */
}

.card-descrip-p{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

/* estilo para los nombres del academia o instucion del curso*/

.card-instituto{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; /* Ocultar por defecto */
}

.card-instituto div{
  margin-top: 2em;
  width: 90%;
  font-size: small;
  display: flex;
  justify-content: space-between;
}

.card-instituto div p{
  width: fit-content;
  display: flex;  
  align-items: center;
}

/* estilo para el boton de ver mas*/

.btn{
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #fcda59;
  border-radius: 0.3em;
  width: fit-content;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%);
  color: #fff !important;
}

.btn:hover{
  font-size: larger;
  transition: all 0.4s;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.cursos-card.expanded .card-descrip,
.cursos-card.expanded .card-instituto {
  display: flex; /* Mostrar cuando la tarjeta está expandida */
}

/* Section 3 */
.miSection3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: -18.75em;
}

.contenidoContacto {
  text-align: center;
  background-color: #008CBA;
  border-radius: 0.625em;
  padding: 1.25em;
  border: 0.063em solid #fff8f8;
  color: white;
}

.caja2 {
  max-width: 30em;
  margin: auto;
  padding: 1.25em;
}

.red-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
}

.red-social a {
  display: inline-block;
  text-decoration: none;
  width: 1.875em;
  height: 1.875em;
  line-height: 1.875em;
  color: #fff;
  margin-right: 0.938em;
  background-color: #008CBA;
  text-align: center;
}

.red-social a:hover {
  color: #fff;
}

/* Pie de página */
.pie {
  background-color: #008CBA;
  padding: 0.938em 0.625em;
  text-align: center;
  color: #fff;
}

.pie small {
  font-size: 0.938em;
}



/* Responsive */

.navbar-toggler-icon {
  background-image: url('./img/menu.png');
  width: 1.5em;
  height: 1.5em;
}

@media only screen and (min-width: 1500px) {
  .miSection1 {
    margin-bottom: -2em;
    margin-top: -2em;
  }
  .miSection3 {
    margin-top: -70em;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1499px) {
  .miSection1 {
    margin-bottom: -1em;
    margin-top: -1em;
  }
  .miSection3 {
    margin-top: -5em;
  }
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: 40vh;
  }

  .logo {
    width: 4.375em;
  }

  .nav-links {
    display: none;
  }

  .custom-navbar {
    width: 100%;
    height: 30%;
  }

  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 1;
  }

  .miSection1 {
    margin-top: -14em;
  }
}

@media only screen and (max-width: 480px) {
  main {
    margin-top: 60vh;
  }

  nav ul li {
    margin-bottom: 1.25em;
  }

  .miFoto {
    margin-bottom: -3em !important;
  }

  .caja,
  .caja2 {
    max-width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  main {
    margin-top: 80vh;
  }

  nav ul li {
    margin-bottom: 1.875em;
  }
}

/* Estilos para el modo nocturno */

.modo-nocturno {
  background: url("./img/fondo\ noche.png"); /*fondo nocturno*/
}
/*panel de navegacion */

.modo-nocturno nav {
  background-color: #111; /* Fondo oscuro para el panel de navegación */
}

.modo-nocturno nav ul li a {
  color: #fff; /* Texto blanco para los enlaces del panel de navegación */
}


.modo-nocturno .navbar-nav .nav-link:hover,
.modo-nocturno .navbar-nav .nav-link:focus {
  background: linear-gradient(90deg, #f80000 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.modo-nocturno .modoNocturnoIcono {
  background-image: url('./img/sol.png');
}

/* Section 1 */

.modo-nocturno .miSection1 {
  color: #fff; /* Texto blanco para la sección 1 */
}
.modo-nocturno .caja {
  background-color: #111;
  border: none;
}
.modo-nocturno .boton-descarga{
  background-color: #111; /* fondo negro para el boton de descarga */
  border: 0.063em solid #923a3a;
}

.modo-nocturno a:hover { /* sombreado para el boton de descarga y los iconos de redes sociales */
  background: linear-gradient(90deg, #f80000 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
}

/* Section 2 */

.modo-nocturno .cursos-card{
  background-color: #111;
}

.modo-nocturno .curos-card-tit{
  background: linear-gradient(90deg, #f80000 0%, rgba(0, 0, 0, 0) 100%);
  color: #fff;

}

.modo-nocturno .btn:hover{
  background: linear-gradient(90deg, #f80000 0%, rgba(0, 0, 0, 0) 100%);
}

/* Section 3 */

.modo-nocturno .miSection2 {
  color: #fff; /* Texto blanco para la sección 2 */
}

.modo-nocturno .contenidoContacto{
  background-color: #111; /* fondo para el cuadro de texto*/
}

.modo-nocturno .red-social a {
  background-color: #111; /* Fondo oscuro para los íconos de redes sociales */
  color: #fff;
}

.modo-nocturno .red-social a:hover {
  color: #fff;
}

/* pie de pagina */

.modo-nocturno .pie{
  background-color: #111; /* Fondo oscuro para el pie de pagina */
}